page-login {
    .login-content {
      background: #1A2F4E;

      .logo{
          width: 50%;
          height: 50%;
          margin: auto;
      }
      .logo-row {
        padding-top: 20px;
        width: 95%;
      }

      .login-box {
        background: rgb(36, 56, 87);
        margin-top: 20px;
        padding: 0px 10px 10px 10px;
        border-radius: 20px;
      }

      ion-row {
         align-items: center;
         text-align: center;
       }

       ion-item {
          color: #ffffff;
           font-size: 0.9em;
           background: transparent;
       }
       .item-input-has-focus, ion-label{
        color: #fff;
       }
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }

       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }

       .submit-btn {
         border-radius: 20px !important;
       }
    }

  }
