<ion-header>
    <ion-navbar>
        <img src="assets/logotipo.png" />
    </ion-navbar>
</ion-header>

<ion-content class="register-content" padding>
    <h4>Registrar</h4>
    <div class="register-box">
        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
            <ion-item-group inset>
                <ion-item>
                    <ion-label floating>Nome Completo</ion-label>
                    <ion-input
                    type="text"
                    name="fullName"
                    [(ngModel)]="usuario.fullName"
                    #fullName="ngModel"
                    required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>CPF</ion-label>
                    <ion-input
                    type="number"
                    pattern="[0-9]*"
                    name="document"
                    [(ngModel)]="usuario.cpf"
                    #document="ngModel"
                    required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Condomínio:</ion-label>
                        <ion-select
                        name="condominioId"
                        [(ngModel)]="condominioId"
                        condominioId="ngModel"
                        (ionChange)="condChange()">
                            <ion-option
                            *ngFor="let c of condominios | async"
                            [value]="c.key">
                            {{c.nome}}
                            </ion-option>
                        </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Edificio:</ion-label>
                        <ion-select
                        name="edificioId"
                        [(ngModel)]="usuario.edificioId"
                        edificioId="ngModel">
                            <ion-option
                            *ngFor="let e of edificios | async"
                            [value]="e.key">
                            {{e.nome}}
                            </ion-option>
                        </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label floating>Unidade</ion-label>
                  <ion-input
                  type="number"
                  name="unit"
                  pattern="[0-9]*"
                  [(ngModel)]="usuario.unit"
                  #unit="ngModel"
                  > </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Telefone</ion-label>
                    <ion-input
                    type="tel"
                    name="phone"
                    pattern="[0-9]*"
                    [(ngModel)]="usuario.phone"
                    #phone="ngModel"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>E-mail</ion-label>
                    <ion-input
                    type="email"
                    name="email"
                    [(ngModel)]="registerCredentials.email"
                    #email="ngModel"
                    required></ion-input>
                </ion-item>
                <!-- <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
                    O campo é obrigatório
                </ion-item> -->
                <ion-item>
                    <ion-label floating>Senha</ion-label>
                    <ion-input
                    type="password"
                    name="password"
                    [(ngModel)]="registerCredentials.password"
                    #password="ngModel"
                    required></ion-input>
                </ion-item>
                <!-- <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
                    O campo é obrigatório
                </ion-item> -->
                <ion-item>
                    <ion-label floating>Confirmar Senha</ion-label>
                    <ion-input
                    type="password"
                    name="confirm-password"
                    [(ngModel)]="registerCredentials.confirmPassword"
                    #confirmPassword="ngModel"
                    required></ion-input>
                </ion-item>
            </ion-item-group>
            <button
            ion-button
            class="submit-btn button-round-md"
            full
            type="submit"
            [disabled]="!registerForm.valid">Registrar</button>
        </form>
    </div>
</ion-content>
