page-register{

    .submit-btn{
        margin-top: 20px;
        border-radius: 20px;
    }
    
    .item-inner {
        font-size: 0.9em;
        border-bottom: 1px solid #1A2F4E !important;
        box-shadow: none !important;
    }
}

.back-button{
    color: white;
}