<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/logotipo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h3 *ngIf="selectedItem.sindico; else morador"><strong>Síndico</strong></h3>
      <ng-template #morador><h3>Morador</h3></ng-template>
    </ion-card-header>
    <ion-card-content>
      <p>Nome: {{selectedItem.fullName}}</p>
      <p>E-mail: {{selectedItem.email}}</p>
    </ion-card-content>
    <button *ngIf="!selectedItem.sindico; else sindico"
    ion-button
    class="submit-btn"
    block
    (click)="tornarSindico()">Tornar Síndico</button>
    <ng-template #sindico>
        <button
        ion-button
        class="submit-btn"
        block
        (click)="removerSindico()">Remover Síndico</button>
    </ng-template>
  </ion-card>
</ion-content>
