page-list {
    .button-assine{
        color: #1A2F4E;
        background-color: white;
        border-radius: 10px;
        text-transform: none;
    }
}

.toolbar-background{
    background-color: #1A2F4E;
}

.toolbar-title{
    color: white;
}

.toolbar-button {
    color: white;
}

.bar-button-menutoggle{
    color: white;
}

.toolbar-back{
    color: white;
}
