<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/logotipo.png"/>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Pedidos</h4>
  <ion-item-group>
    <ion-item *ngIf="pedidos.length == 0">
      <p>Sem solicitações de pedidos.</p>
    </ion-item>
    <ion-item *ngFor="let p of pedidos"
    (click)="itemTapped($event, p)"
    text-wrap>
      <p>Produto: {{p.category}} - {{p.description}}</p>
      <p>Horário do pedido: {{p.dateCreated | date:'dd/MM hh:mm'}}</p>
    </ion-item>
  </ion-item-group>
</ion-content>
