<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/logotipo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group class="moradores-header">
      <h3>Escolher Síndico</h3>
      <ion-item>
        <ion-label>Condomínio:</ion-label>
          <ion-select
          name="condominioId"
          [(ngModel)]="condominioId"
          condominioId="ngModel"
          (ionChange)="condChange()">
            <ion-option
            name="condominioId"
            *ngFor="let c of condominios | async"
            [value]="c.key">
              {{c.nome}}
            </ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Edificio:</ion-label>
          <ion-select
          name="edificioId"
          [(ngModel)]="edificioId"
          edificioId="ngModel"
          (ionChange)="edfChange()">
            <ion-option
            name="edificioId"
            *ngFor="let e of edificios | async"
            [value]="e.key">
              {{e.nome}}
            </ion-option>
        </ion-select>
        </ion-item>
    </ion-item-group>

    <ion-item-group class="moradores-list" *ngIf="edificioId">
      <ion-item *ngIf="!(users | async)?.length">
        <ion-label>
          <h3 class="bold">Não existem moradores no edifício.</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let u of users | async" text-wrap (click)="itemTapped($event, u)">
        <ion-label>
          <h3 class="bold" *ngIf="u.sindico">Síndico:</h3>
          <h3>{{u.fullName}}</h3>
          <p>{{u.email}}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>

</ion-content>
